@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
  color:orangered;
  width: 98%;
  height: 80vh;
  box-sizing: content-box;
}
#frente-pc{
  width: 75w;
  max-width: 550px;
  min-width: 320px;
  margin: auto;
  border-radius:30px;
  transition: all 0.3s;
  box-shadow:0px 3px 5px rgba(3, 3, 3, 0.4)
  

  
}
#frente-pc:hover{
  cursor: pointer;
  transform: scale(1.03);
}
.part-left{
  
  
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.part-right{
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  background-color: white;
  display: flex;
  justify-content: center;
}
#boton5
 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background:orangered;
  cursor: pointer;
  border: 2px solid bisque;
  outline: 1px solid;
  outline-color: rgba(3, 3, 3, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius:20px;
  text-decoration: none;
}
#boton5:hover
 {
  box-shadow: inset 0 0 20px red, 0 0 20px orange;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  
}
.btn-buscar{
  background-color: orangered;
  color: azure;
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background:orangered;
  position: relative;
  border: 2px solid bisque;
  outline: 1px solid;
  outline-color: rgba(3, 3, 3, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius:20px;
}
.btn-buscar:hover{
  box-shadow: inset 0 0 20px red, 0 0 20px orange;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

#logo{
  height: 65px;
  width: auto;
  transition: all 0.3s;
  
  
}
#logo:hover{
cursor: pointer;
transform: scale(1.2);

}
#carrito{
  height: 40px;
  width: auto;
  padding-left: 50px;
  padding-right: 25px;
  transition: all 0.3s;
  
}
#carrito:hover{
cursor: pointer;
transform: scale(1.2);
  
}
#correo{
  height: 40px;
  width: auto;
  padding-right: 15px;
  transition: all 0.3s;
}
#correo:hover{
cursor: pointer;
transform: scale(1.2);

}
.p{
    font-size: px;
    display: block;
    font-family: monospace;
    white-space: nowrap; /* los espacios en blanco no rompen la línea */        
    width: 36ch; /* el ancho será el número de caracteres que tiene nuestra línea */
    animation: escribiendo 2s steps(20);          
    overflow: hidden;
}
@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1087px){
  .part-right{
    display: none;
  }
  .part-left{
    width: 95%;
    padding: 0.5em;
    background-color: bisque;
    display: flex;
    justify-content: center;
  }
  .p{
    font-size: 16px;
  }
  h4{
    font-size: 12px;
  }
  #boton5{
    font-size: 15px;
  }
  
}
