@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
body{
   
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75) ), url(/media/fondo-logup.jpg) no-repeat center center fixed;
    background-size: cover;
    

}


.new-user{
    width: 80px;
    height: auto;
    align-items:center
}
.tittle-form{
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 25px;
}
.form-principal{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    

}
.form input{
    border-radius:10px;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.form button{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 1.2em;
    background:orangered;
    cursor: pointer;
    border: 2px solid bisque;
    outline: 1px solid;
    outline-color: rgba(3, 3, 3, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius:20px;
    text-decoration: none;
    width: 100%;
  
}
.form button:hover{
    box-shadow: inset 0 0 20px red, 0 0 20px orange;
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}