.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    

}
.cartContent > img {
    height: 120px;
    width: 100px;
    text-align: center;
    
}
.cartTotal{
    text-align: center;
}
.cart-message-center{
    text-align: center;
    margin-top: 40px;
}
.button-pay{
    border: none;
    outline: 0;
    padding: 10px;
    color: aliceblue;
    background-color: orangered;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
}