.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: #1b1b1b;
    color:white;
}
.lista-nav{
    display: inline-flex;
    padding-right: 30px;
    font-size: 25px;
    list-style: none;
    
}
.lista-nav li{
    list-style: none;
    text-decoration: none; 
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;   
}
